h1:hover {
  /* : = 옵션이라고 보면 됨*/
  color: chocolate;
  transition: all 5s ease;
  transform: rotate(-180deg); /*글자 돌리기*/
  /*transform: scale(1.3); /*글자크기 키우기*/
}

table:hover {
  transition: all 2s;
  transform: rotateY(360deg), scale(1.3);
}

body:hover {
  transition: all 2s ease;
  transform: rotateY(360deg), scale(1.3);
}

.hidden {
  transform: translate(-30%, 0);
  font-size: large;
}
.hidden:hover {
  transition: all 1s ease;
  transform: translate(0, 0);
}
